@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}


.quiz-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    overflow: hidden;
    width: 600px;
    max-width: 100%;
    opacity: 98%;
}

.quiz-header {
    padding: 2rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-weight: 1000;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
    font-family: 'Maven Pro', sans-serif;
}

ul li label {
    cursor: pointer;
}

button { 
    background: black;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 1.1rem;
    width: 100%;
    padding: 1.3rem;
}

button:hover {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
          animation: Gradient 15s ease infinite;
    
}

button:focus {
    background:black;
}

.poorna
{
  float: right;
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-size: 1.75rem;
  font-weight: 500;
  font-family: 'Libre Barcode 128 Text', cursive;
}

@-webkit-keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .hel{
    font-size: 30px;
    color: rgb(137, 250, 146);
    font-weight: 200;
  }